/* css variable */

:root {
  --bg: white;
  --text: #222;
  --border: #ccc;
}

.dark {
  --bg: #121212;
  --text: #f5f5f5;
  --border: #333;
}

/* GLOBAL */
body {
  font-family: 'Inter', sans-serif;
  background: var(--bg);
  color: var(--text);
  margin: 0;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
}

.header-actions {
  display: flex;
  gap: 10px;
}

/* Name */
.name {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
}

.title {
  margin-top: 5px;
}

/* Buttons */
button,
.btn {
  padding: 8px 12px;
  border: none;
  background: #333;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Contact row  */
.contact {
  display: flex;
  gap: 30px;
  padding: 0 60px;
  flex-wrap: wrap;
}

/* Resume container */
.resume {
  width: 800px;
  margin-left: 60px;
  line-height: 1.6;
}

/* Section titles */
h2 {
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
}

/* Lines */
hr {
  border: none;
  border-top: 1px solid var(--border);
}

/* Summary */
.summary {
  text-align: justify;
}

/* Lists */
ul {
  margin-left: 20px;
}

/* Footer */
.footer {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid var(--border);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .header,
  .contact {
    flex-direction: column;
    align-items: flex-start;
  }

  .resume {
    width: 90%;
    margin-left: 20px;
  }
}
